body {
  background-color: lightgray;
}
.container {
  border: 1px solid rgb(179, 111, 111);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: rgb(133, 57, 130);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px solid black;
}

.menu-items-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.menu-items-container li {
  list-style: none;
}

.menu-items-container li a {
  text-decoration: none;
  color: white;
}

.my-element {
  background-color: rgb(124, 50, 124);
  padding: 5px;
  transition: background-color 0.4s ease;
  color: white;
  cursor: pointer;
  border: 2px solid rgb(70, 41, 62);
  border-radius: 5px;
}

.my-element:hover {
  background-color: rgb(222, 6, 125);
  color: rgb(216, 210, 210);
  transform: scale(1.04);
  border-radius: 7px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 2px;
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 10px;
}

.card {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
  text-align: left;
  color: white;
  background-color: hotpink;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #f0f0f0;
    background-image: url(moonbase.png);
  }
}

.card-content {
  padding: 20px;
}
h1 {
  padding: 40px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: rgb(108, 100, 97);
  color: white;
  text-align: center;
  padding: 2px 10px 5px 4px;
  margin-top: auto;
  width: 100%;
}

.projects img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: nowrap;
  padding: 10px;
}

.project-item {
  text-align: center;
  flex: 1;
  min-width: 80px;
  padding: 10px;
}

.project-item img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}

.proptech-div {
  padding: 10px;
  text-align: justify;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
  text-align: left;
  color: white;
  background-color: hotpink;
}

.proptech-div img {
  width: 200px;
  height: 200px;
  border-radius: 0px;
  padding-left: 5px;
}

.project-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.my-button {
  background-color: rgb(57, 116, 134);
  color: white;
  padding: 1px 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.my-button:hover {
  background-color: rgb(97, 110, 182);
  transition: rgb(18, 172, 100);
}

body {
  background-color: #f0f0f0;
  background-image: url("moon-background.png");
}
